<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300' rel='stylesheet' type='text/css'>
	<script src="/javascripts/ct.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>CourseTackle</title>

 <header>
    <% include partials/header.ejs %>
</header>

<body>

	<div class="container">
    <% include partials/left_panel.ejs %>
    	<div id="courses" class="main">
    		<span id="taken" class="post">
    			<span id="rate_com"> Rate and Comment <%= courseCode %> </span>
				<text id="add_course_taken" class="add" onclick="courses()">+</text>
			</span>
		<span class="user_wall_post post">
		<% for (var i=0; i<courselist.length; i++) { %>
			<h4><%= courselist[i].local.field %></h4>
			<div id="code_name">
				<span> <%= courselist[i].local.courseCode %>:</span>
				<span> <%= courselist[i].local.courseName %></span>
			</div>
			<div id="name_date">
				<span> <%= courselist[i].local.username %></span>
				<span id="date_right"> <%= courselist[i].local.date %></span>
			</div>
			<div>
				Rating:
				<span> <%= courselist[i].local.rating %></span>
			</div>
			<div>
				<span> <%= courselist[i].local.desc %></span>
			</div>
			
		<% } %>
		</span>
		</div>
	</div>


	<div id="courses_taken">
		<span id='close_courses'><button onclick="close_courses()">x</button></span>
		<br>Please enter information about your course<br><br>

	<form id="change_settings" action="/course/<% courseCode %>" method="post">

		</span>
    Subject:
    	<div class="subject">
			<select name="subject">
			<!--<input class="course_in" type="text" name="subject" onclick="this.focus();this.select()"/>-->
				<option selected value="<%= courselist[0].local.field %>" name="<%= courselist[0].local.fieldt %>"><%= courselist[0].local.field %></option>
			</select>
		</div>
	
    Course Name:
		<span>
			<%= courselist[0].local.courseName %>
			<input class="course_in" type="text" name="courseName" value="<%= courselist[0].local.courseName %>" onclick="this.focus();this.select()"/>
		</span>
	
    Course Code:
		<span>
			<input class="course_in" type="text" name="courseCode" value="<%= courselist[0].local.courseCode %>" onclick="this.focus();this.select()"/>
		</span>
	
	Rating:
		<span>
			<input id="rating" type="number" name="rating" min="1" max="5" value="1">
			<!--<input type="text" name="rating" onclick="this.focus();this.select()"/> -->
		</span>
	Description:
	<br>
		<span>
			<textarea id="desc" name="desc" onclick="this.focus();this.select()"></textarea>
		</span>
		<br><br>
		<span id="confirm">
			<button id="confirm_settings">Confirm</button>
			<br><Br><br>
		</span>
		</form>
	</div>

</body>

<footer>
    <% include partials/footer.ejs %>
</footer>
</html>