<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300' rel='stylesheet' type='text/css'>
	<script src="/javascripts/ct.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>CourseTackle</title>

    <header>
    <% include partials/header.ejs %>
</header>

<body>
	<div class="container">
    	<% include partials/left_panel.ejs %>
		<div id="courses" class="main">
			<h4>Friend Requests</h4>
			<span id="taken" class="post">
				<text id="friend_pending" class="add" onclick="friendReq()">+</text>
		</div>
	</div>
	<div id="friendConfirm">
		<span id='friendCancel'><button onclick="close_friendReq()">x</button></span>
		<br>List of pending friend requests<br><br>
		</span>
    	Accept or decline Request:
    	<% for (var i=0; i<friendsreqs.length; i++) { %>
		<span id="FRequest<%=i%>">
			<%=friendsreqs[i].pendingFriend%>
			<a href="/replyFriend?reply=Yes&username=<%=friendsreqs[i].username%>&pending=<%=friendsreqs[i].pendingFriend%>"> Yes </a>
			<a href="/replyFriend?reply=No&username=<%=friendsreqs[i].username%>&pending=<%=friendsreqs[i].pendingFriend%>"> No </a>
		</span>
		<% } %>
		<br><br>
	</div>
</body>

<footer>
    <% include partials/footer.ejs %>
</footer>
</html>

